<link rel="import" href="../../../vendor/polymer/polymer.html">
<script src="../../../vendor/tinycolor/tinycolor.js"></script>

<script>
  var tinycolor = window.tinycolor;

  /**
   * Use `Polymer.ColorizrColorBehavior` to use some get color functions.
   * @polymerBehavior Polymer.ColorizrColorBehavior
   */
  Polymer.ColorizrColorBehavior = {
    getColorObj: function(colorStr) {
      var colorObj = tinycolor(colorStr);
      if (!colorObj.isValid()) {
        throw new Error('Not a valid color: ', colorStr);
      }
      return colorObj;
    },
    getRandomColorHex: function() {
      return tinycolor.random().toHexString();
    },
    isValidColorHex: function(string) {
      return this.getColorObj(string).isValid();
    }
  };
</script>
